<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      Vatsal Patel - Drashti Adhyaru
    </header>
     <nav>
      {{!-- <a href="/">Home</a>
      <a href="/api/books">All Books</a>
      <a href="/api/book_search">Search Book</a>
      <a href="/api/book_update">Update Book</a>
      <a href="/api/book_delete">Delete Book</a> --}}
    </nav>

<main>
    {{{body}}}
</main>

    <footer>
      Group Project 
    </footer>
  </body>
</html>